<!DOCTYPE html>
<html>
<head>
    <style>{{ style|safe }}</style>
    <title>Config</title>
</head>
{{ nav_section|safe }}
<div class="refill-area">
<body>
    <h2>Configuration</h2>
    <form action="/update" method="post">
        <hr>
        <button type="submit">Update Configuration</button>
        <hr>
        <h3>Local Broker</h3>
        <label>IP:</label>
        <input type="text" maxlength=60 name="local_broker_ip" value="{{ config.local_broker_ip }}"><br>
        <label>Port:</label>
        <input 
              type="text" 
              name="local_broker_port" 
              value="{{ config.local_broker_port }}" 
              inputmode="numeric" 
              pattern="[0-9]*" 
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            ><br>
        <label>Use SSL:</label>
        <input type="checkbox" name="local_broker_ssl" {{ 'checked' if config.local_broker_ssl else '' }}><br>
        <label>User:</label>
        <input type="text" name="local_broker_user" maxlength=30 value="{{ config.local_broker_user or '' }}"><br>
        <label>Pass:</label>
        <input type="text" name="local_broker_password" maxlength=30 value="{{ config.local_broker_password or '' }}"><br>
        <label>Sleep Seconds:</label>
        <input 
              type="text" 
              name="local_broker_sleep_seconds" 
              value="{{ config.local_broker_sleep_seconds }}" 
              inputmode="numeric" 
              pattern="[0-9]*" 
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            ><br>
        <label>Keepalive:</label>
        <input 
              type="text" 
              name="local_broker_mqtt_keepalive" 
              value="{{ config.local_broker_mqtt_keepalive }}" 
              inputmode="numeric" 
              pattern="[0-9]*" 
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            >
            
        <hr>
        <h3>Cloud Broker</h3>
        <label>IP:</label>
        <input type="text" maxlength=60 name="cloud_broker_ip" value="{{ config.cloud_broker_ip }}"><br>
        <label>Port:</label>
        <input 
              type="text" 
              name="cloud_broker_port" 
              value="{{ config.cloud_broker_port }}" 
              inputmode="numeric" 
              pattern="[0-9]*" 
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            ><br>
        <label>Use SSL:</label>
        <input type="checkbox" name="cloud_broker_ssl" {{ 'checked' if config.cloud_broker_ssl else '' }}><br>
        <label>User:</label>
        <input type="text" name="cloud_broker_user" maxlength=30 value="{{ config.cloud_broker_user or '' }}"><br>
        <label>Pass:</label>
        <input type="text" name="cloud_broker_password" maxlength=30 value="{{ config.cloud_broker_password or '' }}"><br>
        <label>Sleep Seconds:</label>
        <input 
              type="text" 
              name="cloud_broker_sleep_seconds" 
              value="{{ config.cloud_broker_sleep_seconds }}" 
              inputmode="numeric" 
              pattern="[0-9]*" 
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            ><br>
        <label>Keepalive:</label>
        <input 
              type="text" 
              name="cloud_broker_mqtt_keepalive" 
              value="{{ config.cloud_broker_mqtt_keepalive }}" 
              inputmode="numeric" 
              pattern="[0-9]*" 
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            >
       
        <hr>
        <h3>Gmail Service Settings</h3>
        <label>User:</label>
        <input type="text" name="gmail_user" value="{{ config.gmail_user }}"><br>
        <label>Password:</label>
        <input type="text" name="gmail_password" value="{{ config.gmail_password }}"><br>

        <hr>
        <h3>Publish life</h3>
        <label>topic:</label>
        <input type="text" name="publish" value="{{ config.publish }}"><br>
        <label>Alive interval:</label>
        <input 
              type="text" 
              name="alive_interval" 
              value="{{ config.alive_interval }}" 
              inputmode="numeric" 
              pattern="[0-9]*" 
              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
            >
            
        <hr>
        <button type="submit">Update Configuration</button>
    </form>
</body>
</div>
</html>
