<!DOCTYPE html>
<html>
<head>
    <style>{{ style|safe }}</style>
    <title>Devices</title>
</head>
{{ nav_section|safe }}
<div class="refill-area">
<body>
</head>
<body>
  <table style="border: none;">
  </table>
  <table>
   <!-- <tr>
      <th  style="text-align: left;">
        <a href="http://{{IPaddr}}/zigbee2mqtt">
          <h3>Maintain zigbee2mqtt Devices</h3>
        </a>
        <a href="http://{{IPaddr}}:8081/">
          <h3>Set Timers</h3>
        </a>
        <a href="http://{{IPaddr}}:8082/">
          <h3>Set Triggers</h3>
        </a>
        <h3 style="color: red" ;>{{error_message}}</h3>
      </th>
     </tr> -->
    <tr>
        <td style="border: none;"><h2>Device Management</h2></td>
    </tr>
    {% if do_update_IP %}
    <tr>
      <td>
        <form action="/update_manIP" method="post">
          <h2>Update Feature</h2>
          <table class="leftright">
            <tr>
              <th>
                <button type="submit" name=action value="Update/{{man_ip[0]}}">Update</button>
                <!--&nbsp;<br>
                <button type="submit" name=action value="Delete/{{man_ip[0]}}">Delete</button>
                -->
              </th>
              <th>
                <h1>"{{man_ip[1]}}","{{man_ip[2]}}"</h1>
              </th>
            </tr>
            <tr>
              <th>
                Feature Type
              </th>
              <td>
                <select name="type">
                  <option value="{{man_ip[3]}}">{{man_ip[3]}}</option>
                  <option value="binary">Binary</option>
                  <option value="numeric">Numeric</option>
                </select>
              </td>
            </tr>
            <tr>
              <th>
                Access
              </th>
              <td>
                <select name="access">
                  <option value="{{man_ip[7]}}">{{man_ip[7]}}</option>
                  <option value="sub">sub</option>
                  <option value="pub">pub</option>
                </select>
              </td>
            </tr>
            <tr>
              <th>
                MQTT topic
              </th>
              <td>
                <input type="text" size="30" name="topic" value="{{man_ip[4]}}">
              </td>
            </tr>
            <tr>
              <th>
                Payload On/other value
              </th>
              <td>
                <input type="text" size="30" name="on" value="{{man_ip[5]}}">
              </td>
            </tr>
            <tr>
              <th>
                Payload Off value
              </th>
              <td>
                <input type="text" size="30" name="off" value="{{man_ip[6]}}">
              </td>
            </tr>
          </table>
        </form>
      </td>
    </tr>
    {% endif %}
    <!--<tr>
      <td>
        <form action="/create_voice" method="post">
          <h2>Voice to Device mapping</h2>
          <table class="leftright">
            <tr>
              <th>
                <button type="submit" name=action value="create_voice">Create WeMo</button><br>
                <button type="submit" name=action value="restart">Restart FauxMo/Hue Processes</button><br>
                <button type="submit" name=action value="display">Display future FauxMo config</button>
              </th>
              <th>
                <label for="voice_name">Voice Name:</label>
                <input type="text" id="voice_name" name="voice_name"><br>
                <label for="port">Port:</label>
                <input type="text" id="port" name="port" value="Optional"><br>
              </th>
              <th>
                Device:
              </th>
              <th>
                <select id="voice_device" name="voice_device" size="5">
                  {% for b in get_devices_for_wemo %}
                  <option value="{{b[0]}}">
                 "{{b[1]}}"&nbsp;&nbsp; <!-- ({{b[2]}})
                  Property({{b[3]}})&nbsp;&nbsp;[{{b[4]}}] 
                  [{{b[5]}}]&nbsp;&nbsp;
                  [{{b[6]}}]-[{{b[7]}}] </option>
                  {% endfor %}
                </select>
              </th>
            </tr>
          </table>
        </form>
      </td>
    </tr> 

    <tr>
      <td>
        <form action="/remove_voice" method="post">
          <table class="center">
            <tr>
              <th rowspan="2">
                Mapped WeMo
              </th>
              <th colspan="2">
                WeMo
              </th>
              <th colspan="100%">
                MQTT
              </th>
            </tr>
            <tr>
              <th>
                Name
              </th>
              <th>
                port
              </th>
              <th>
                Friendly Name
              </th>
              <th>
                Description
              </th>
              <th>
                feature/topic
              </th>
              <th>
                on payload
              </th>
              <th>
                off payload
              </th>
            </tr>
            {% for d in all_wemo %}
            <tr>
              <td>
                <button type="submit" name=action value="delete_wemo/{{d[0]}}">Delete</button>
              </td>
              <td>{{d[1]}}</td>
              <td>{{d[2]}}</td>
              <td>{{d[3]}}</td>
              <td>{{d[4]}}</td>
              <td>{{d[5]}}</td>
              <td>{{d[6]}}</td>
              <td>{{d[7]}}</td>
            </tr>
            {% endfor %}
          </table>
        </form>
      </td>
    </tr> -->
    <tr>
      <td>
        <form action=" /create_IP_device" method="post">
          <h2>Manual Creation of IP Devices</h2>
          <table class="leftright">
            <tr>
              <td rowspan=2>
                  <button type="submit" name=action value="create_wifi/0">Create IP Device</button>
              </td>
              <th><label for="IP_frendly_name">Friendly Name:</label>
                <input type="text" id="IP_frendly_name" name="IP_frendly_name"><br>
              </th>
              <th><label for="IP_description">Description:</label>
                <input type="text" id="IP_description" name="IP_description"><br>
              </th>
            </tr>
            <!-- <tr>
              <th><label for="IP_property">Property:</label>
                <input type="text" id="IP_property" name="IP_property"><br>
              </th>
              <th><label for="IP_feature">Feature:</label>
                <input type="text" id="IP_feature" name="IP_feature"><br>
              </th>
             </tr> -->
             <tr>
                <!-- <th>
                    <select name="IP_access" size="2">
                        <option value="sub"> Subscribe</option>
                        <option value="pub" selected> Publish</option>
                    </select>
              </th> -->
              <th><label for="IP_topic">topic:</label>
                <input type="text" id="IP_topic" name="IP_topic" size=30><br>
              </th>
              <th><label for="IP_true">Payload True/Value:</label>
                <input type="text" id="IP_true" name="IP_true"><br>
              </th>
              <th><label for="IP_false">Payload False:</label>
                <input type="text" id="IP_false" name="IP_false"><br>
              </th>
            </tr>
          </table>
        </form>
      </td>
    </tr>
<!--
    <tr>
      <td>
        <form action="/create_IP_feature" method="post">
          <table class="leftright">
            <tr>
              <td><button type="submit" name=action value="create_IP_feature/0">Create IP Device feature</button>
              <th><label for="wifi_access">Device Name:</label>
              <td>
                <select name="friendly_name" size="4">
                  {% for b in manual_device_names %}
                  <option value="{{b[0]}}"> {{b[0]}}/{{b[1]}}</option>
                  {% endfor %}
                </select>
              </td>
              </th>
              <th><label for="property">property:</label>
                <input type="text" id="property" name="property"><br>
              </th>
            </tr>
          </table>
        </form>
      </td>
    </tr>
-->
    
    </td>
    </tr>
    <tr>
      <td>
        <form action="/all_devices" method="post">
          <h2>All  Devices</h2>
          <table class="center">
            <tr>
              <th colspan="100%"  style="text-align: left;">
                <button type="submit" name=action value="zbrefresh">Refresh ZigBee2MQTT devices</button>
                <button type="submit" name=action value="delete_old"
                onclick="if(!this.classList.contains('confirmed')){ this.innerText='Are you sure?'; this.classList.add('confirmed'); return false; }">
                Delete old devices 
                </button>
                <button type="submit" name=action value="iprefresh"> refresh auto IP devices</th>
              </th>
            </tr>
            <tr>
              <th>
                Friendly name
              </th>
              <th>
                Description
              </th>
              <th>
                last<br>date
              </th>
              <th>
                Property
              </th>
              <th>
                Feature<br>Description
              </th>
              <th>
                Type
              </th>
              <th>
                Access
              </th>
              <th>
                MQTT Topic
              </th>
              <th>
                MQTT payload<br>True/value
              </th>
              <th>
                MQTT payload<br>False
              </th>
            </tr>
            {% for d in devices %}
            <tr>
              <th align="center">
                <button type="submit" name=action value="delete/{{ d['mqtt_feature_id'] }}">
                    Delete
                </button>
                {{d['friendly_name']}}
              </th>
              <td> {{ d['device_description'] }}</td>
              <td>{{ d['date'] }}</td>
              <th>{{ d['property'] }}
<!--
                <button type="submit" name=action value="manIP/{{d[0]}}">Modify
                  values
                </button>
-->
              </th>
              <td>{{d['description']}}</td>
              <td>{{d['type']}}</td>
              <td>{{d['access']}}</td>
              <td>{{d['topic']}}</td>
              <td>{{d['true_value']}}<br><button type="submit" name=action value="send/1/{{ d['mqtt_feature_id'] }}">Send</button></td>
              <td>{{d['false_value']}} 
                {% if d['false_value'] %}  
                    <br><button type="submit" name=action value="send/0/{{ d['mqtt_feature_id'] }}">Send</button>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            <!-- <tr>
              <th colspan="100%"  style="text-align: left;">Auto discovered IP devices
              <button type="submit" name=action value="iprefresh"> refresh auto IP devices</th>
            </tr> -->
            <!--{% for d in autoIP_devices %}
            <tr>
              <th>
                {{d[1]}}
                {% if d[1] %}
                <button type="submit" name=action value="delete/{{d[1]}}">
                  Delete
                </button>
                {% endif %}
              </th>
              <td>{{d[2]}}</td>
              <td>{{d[3]}}</td>
              <th>{{d[4]}}</th>
              <td>{{d[5]}}</td>
              <td>{{d[6]}}</td>
              <td>{{d[7]}}</td>
              <td>{{d[8]}}</td>
              <td>{{d[9]}}<br>{% if d[11] %} <button type="submit" name=action value="send/1/{{d[0]}}">Send</button>{%
                endif %}</td>
              <td>{{d[10]}}<br>{% if d[11] %} <button type="submit" name=action value="send/0/{{d[0]}}">Send</button>{%
                endif %}</td>
            </tr>
            {% endfor %} -->
           
            <!--{% for d in zigbee_devices %}
            <tr>
              <th>{{d[1]}}</th>
              <td>{{d[2]}}</td>
              <td>{{d[3]}}</td>
              <th>{{d[4]}}</th>
              <td>{{d[5]}}</td>
              <td>{{d[6]}}</td>
              <td>{{d[7]}}</td>
              <td>{{d[8]}}</td>
              <td>{{d[9]}}<br>{% if d[11] %} <button type="submit" name=action value="send/1/{{d[0]}}">Send</button>{%
                endif %}</td>
              <td>{{d[10]}}<br>{% if d[11] %} <button type="submit" name=action value="send/0/{{d[0]}}">Send</button>{%
                endif %}</td>
            </tr>
            {% endfor %} -->
          </table>
        </form>
      </td>
    </tr>
  </table>
</body>
</html>
