<!DOCTYPE html>
<html>
<head>
    <style>{{ style|safe }}</style>
    <title>Devices</title>
</head>
{{ nav_section|safe }}
<div class="refill-area">
<body>
</head>
<body>
  <table style="border: none;">
  </table>
  <table>
    <tr>
        <td style="border: none;"><h2>Device Management</h2></td>
    </tr>
    <tr>
      <td>
        <form action=" /create_IP_device" method="post">
          <h2>Manual Creation of IP Devices</h2>
          <table class="leftright">
            <tr>
              <td rowspan=3>
                  <button type="submit" name=action value="create_wifi/0">Create IP Device</button>
              </td>
              <th><label for="IP_frendly_name">Friendly Name:</label>
                <input type="text" id="IP_frendly_name" name="IP_frendly_name"><br>
              </th>
              <th><label for="IP_description">Description:</label>
                <input type="text" id="IP_description" name="IP_description"><br>
              </th>
             </tr>
             <tr>
              <th><label for="IP_topic_description">topic description:</label>
                <input type="text" id="IP_topic_description" name="IP_topic_description" size=30><br>
              </th>
              <th>
                  <label for="IP_topic">topic:</label>
                  <input type="text" id="IP_topic" name="IP_topic" size=30><br>
                  <input type="radio" name="IP_access" value="sub">Subscribes
                  <input type="radio" name="IP_access" value="pub">Publishes
              </th>
            </tr>
            <tr>
              <th><label for="IP_true">Payload True/Value:</label>
                <input type="text" id="IP_true" name="IP_true"><br>
              </th>
              <th><label for="IP_false">Payload False:</label>
                <input type="text" id="IP_false" name="IP_false"><br>
              </th>
            </tr>
          </table>
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <form action="/all_devices" method="post">
          <h2>All  Devices</h2>
          <table class="center">
            <tr>
              <th colspan="100%"  style="text-align: left;">
                <button type="submit" name=action value="zbrefresh">Refresh ZigBee2MQTT devices</button>
                <button type="submit" name=action value="delete_old"
                onclick="if(!this.classList.contains('confirmed')){ this.innerText='Are you sure?'; this.classList.add('confirmed'); return false; }">
                Delete old devices 
                </button>
                <button type="submit" name=action value="iprefresh"> refresh auto IP devices</th>
              </th>
            </tr>
            <tr>
              <th>
                Friendly name
              </th>
              <th>
                Description
              </th>
              <th>
                last<br>date
              </th>
              <th>
                Property
              </th>
              <th>
                Feature<br>Description
              </th>
              <th>
                Type
              </th>
              <th>
                Access
              </th>
              <th>
                MQTT Topic
              </th>
              <th>
                MQTT payload<br>True/value
              </th>
              <th>
                MQTT payload<br>False
              </th>
            </tr>
            {% for d in devices %}
            <tr>
              <th align="center">
                <button type="submit" name=action value="delete/{{ d['mqtt_feature_id'] }}/{{ d['friendly_name'] }}">
                    Delete
                </button>
                {{d['friendly_name']}}
              </th>
              <td> {{ d['device_description'] }}</td>
              <td>{{ d['date'] }}</td>
              <th>{{ d['property'] }}</th>
              <td>{{d['description']}}</td>
              <td>{{d['type']}}</td>
              <td>{{d['access']}}</td>
              <td>{{d['topic']}}</td>
              <td>{{d['true_value']}}<br><button type="submit" name=action value="send/1/{{ d['mqtt_feature_id'] }}">Send</button></td>
              <td>{{d['false_value']}} 
              {% if d['false_value'] %}  
                    <br><button type="submit" name=action value="send/0/{{ d['mqtt_feature_id'] }}">Send</button>
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </form>
      </td>
    </tr>
  </table>
</body>
</html>
