<!DOCTYPE html>
<html>
<head>
    <style>{{ style|safe }}</style>
    <title>Cameras</title>
</head>
{{ nav_section|safe }}

<body>
<form action="/set_timer" method="post">
<div id="{{ timers_here }}"  class="refill-area">
    <table class="tbody">
        </tr>
        <tr class="tnone">
            <th colspan="100%" align="center">
                {{ debug }}
                <font size="+3" color="gray">Maintain Timers {{ time_now }}</font>
            </th>
        </tr>
        <tr>
            <th colspan="100%" align="left">
                <font color="red">{{ timer_msg }}</font>
            </th>
        </tr>
        <tr>
            <td>
                <table> <!-- </table> class="tbody"> -->
                    <tr class="dark">
                        <th colspan="100%">Select Device</th>
                    </tr>
                    <tr class="dark">
                        <th>&nbsp;</th>
                        <th>topic</th>
                        <th>type</th>
                        <th>property</th>
                        <th>true</th>
                        <th>false</th>
                    </tr>
                    {% for alert in alerts %}
                    <tr>
                        <td>
                            <input type="radio" name="selected_rowid" value="{{alert.rowid}}">
                        </td>
                        <td>{{alert.topic}}</td>
                        <td>{{alert.type}}</td>
                        <td>{{alert.property}}</td>
                        <td>{{alert.true_value}}</td>
                        <td>{{alert.false_value}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr class="dark">
            <th>Set Time</th>
        </tr>
        <tr>
            <td>
                {% for day_val, day_name in [('0', 'Sun'), ('1', 'Mon'), ('2', 'Tue'), ('3', 'Wed'), ('4', 'Thu'), ('5', 'Fri'), ('6', 'Sat')] %}
                    <input type="checkbox" name="TIMED:days" value="{{ day_val }}" checked>{{ day_name }}
                {% endfor %}

                <table>
                    <tr class="dark">
                        <th>Start Time</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" onClick="start_fixed_date();" name="TIMED:start" value="Fixed" checked>Start Time<br>
                            <input type="radio" onClick="start_dawn();" name="TIMED:start" value="Sunrise">At Sunrise<br>
                            <input type="radio" onClick="start_dawn();" name="TIMED:start" value="Sunset">At Sunset
                        </td>
                    </tr>
                    <tr class="dark">
                        <th>Start Time or Offset</th>
                    </tr>
                    <tr>
                        <td>
                            <table id="starthidefixed">
                                <tr>
                                    <th>
                                        Hour(24):Minute
                                    </th>
                                </tr>
                                <tr>
                                    <td><input type=number name=TIMED:starthour min=1 max=24 value=6>
                                    :
                                    <input type=number name=TIMED:startminute min=0 max=59 value=30>
                                </td>
                                </tr>
                            </table>
                            <table id="starthidedawn"  style="display: none;">
                                <tr>
                                    <th>
                                        Offset Minutes (+-)
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <input type=number name=TIMED:startoffset min=-2000 max=2000 value=0>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="dark">
                        <th>Stop Time</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" onClick="stop_fixed_date();" name="TIMED:stop" value="Fixed" checked>Stop Time<br>
                            <input type="radio" onClick="stop_dawn();" name="TIMED:stop" value="Sunrise">At Sunrise<br> 
                            <input type="radio" onClick="stop_dawn();" name="TIMED:stop" value="Sunset">At Sunset
                        </td>
                    </tr>
                    <tr class="dark">
                        <th>Stop Time or Offset</th>
                    </tr>
                    <tr>
                        <td>
                            <table id="stophidefixed">
                                <tr>
                                <th>
                                    Hour(24):Minute
                                </th>
                                </tr>
                                <tr>
                                <td><input type=number name=TIMED:stophour min=1 max=24 value=6>
                                :
                                <input type=number name=TIMED:stopminute min=0 max=59 value=30>
                                </td>
                                </tr>
                            </table>
                            <table id="stophidedawn"  style="display: none;">
                                <tr>
                                <th>
                                    Offset Minutes (+-)
                                </th>
                                </tr>
                                <tr>
                                <td>
                                    <input type=number name=TIMED:stopoffset min=-2000 max=2000 value=0>
                                </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" name="state" value="Create timer">&nbsp;<input type="submit" name="state" value="Restart Timer Process">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <table class="center">
                <tr class="dark">
                    <th colspan="100%">Current Timers</th>
                </tr>
                <tr class="dark">
                    <th  rowspan=2>&nbsp;</th>
                    <th  rowspan=2>topic</th>
                    <th  rowspan=2>days sun=0</th>
                    <th colspan=4 >start</th>
                    <th colspan=4 >stop</th>
                </tr>
                <tr class="dark">
                    <th>type</th>
                    <th>hour</th>
                    <th>minute</th>
                    <th>offset</th>
                    <th>type</th>
                    <th>hour</th>
                    <th>minute</th>
                    <th>offset</th>
                </tr>
                {% for timer in timed_alerts %}
                <tr>
                    <td>
                        <input type="submit" name="state" value="Remove Timer:{{ timer.rowid }}">
                    </td>
                    <td>{{ timer.topic }}</td>
                    <td>{{ timer.days }}</td>
                    <td>{{ timer.start_type }}</td>
                    <td>{{ timer.start_hour }}</td>
                    <td>{{ timer.start_minute }}</td>
                    <td>{{ timer.start_offset }}</td>
                    <td>{{ timer.stop_type }}</td>
                    <td>{{ timer.stop_hour }}</td>
                    <td>{{ timer.stop_minute }}</td>
                    <td>{{ timer.stop_offset }}</td>
                </tr>
                {% endfor %}
            </table>
        </tr>
    </table>
</form>
<script>
function start_fixed_date() {
   document.getElementById("starthidefixed").style.display = '';
   document.getElementById("starthidedawn").style.display = 'none';
}
function start_dawn() {
   document.getElementById("starthidedawn").style.display = '';
   document.getElementById("starthidefixed").style.display = 'none';
}
function stop_fixed_date() {
   document.getElementById("stophidefixed").style.display = '';
   document.getElementById("stophidedawn").style.display = 'none';
}
function stop_dawn() {
   document.getElementById("stophidedawn").style.display = '';
   document.getElementById("stophidefixed").style.display = 'none';
}
</script>
</body>
</html>
