<!DOCTYPE html>
<html>
<head>
    <style>{{ style|safe }}</style>
    <title>Cameras</title>
</head>
{{ nav_section|safe }}

<div id="{{ triggers_here }}" class="refill-area">
<body>
	<form action="/set_trigger" method="post">
    <table   >
        <tr>
            <th colspan="100%" align="center">
                <font size="+3" color="gray">Maintain Triggers </font>
                 {{ debug }}
            </th>
        </tr>
        <tr>
            <th colspan="100%" align="left">
                <font color="red">{{ trigger_msg }}</font>
            </th>
        </tr>
        <tr>
            <td>
                <table> <!-- </table> class="tbody"> -->
                    <tr   >
                        <th colspan="100%">Select Device to subscribe and select true or false to compare</th>
                    </tr>
                    <tr   >
                        <th>topic</th>
                        <th>true</th>
                        <th>false</th>
                    </tr>
                    {% for sub in subs %}
                    <tr>
                        <td>{{sub.topic}}</td>
                        <td><input type="radio" name="selected_sub" value="{{sub.topic}}|{{sub.true_value}}">{{sub.true_value}}</td>
                        <td><input type="radio" name="selected_sub" value="{{sub.topic}}|{{sub.false_value}}">{{sub.false_value}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr   >
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td>
                <table> <!-- </table> class="tbody"> -->
                    <tr   >
                        <th colspan="100%">Select Device to Publish and true/false values to send</th>
                    </tr>
                    <tr   >
                        <th>topic</th>
                        <th>true</th>
                        <th>false</th>
                    </tr>
                    {% for pub in pubs %}
                    <tr>
                        <td>{{pub.topic}}</td>
                        <td><input type="radio" name="selected_pub" value="{{pub.topic}}|{{pub.true_value}}">{{pub.true_value}}</td>
                        <td><input type="radio" name="selected_pub" value="{{pub.topic}}|{{pub.false_value}}">{{pub.false_value}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr   >
            <th>&nbsp;</th>
        </tr>
        <tr   >
            <td>
                <button type="submit" name=action value="Create trigger">Create Trigger</button>
                <button type="submit" name=action value="Restart trigger Process">Restart trigger Subprocess</button>
            </td>
        </tr>
        <tr   >
            <th>&nbsp;</th>
        </tr>
        <tr>
            <table class="center">
                <tr   >
                    <th colspan="100%">Current Triggers</th>
                </tr>
                <tr   >
                    <th></th>
                    <th colspan=2>
                        Subscribed to:
                    </th>
                    <th colspan=2>
                        Publishing to:
                    </th>
                </tr>
                <tr   >
                    <th>&nbsp;</th>
                    <th>Topic</th>
                    <th>Payload</th>
                    <th>Topic</th>
                    <th>Payload</th>
                </tr>
                {% for trigger in current_triggers %}
                <tr>
                    <td>
                        <input type="submit" name=action value="Remove Trigger:{{ trigger.rowid }}">
                    </td>
                    <td>{{ trigger.sub_topic }}</td>
                    <td>{{ trigger.sub_payload }}</td>
                    <td>{{ trigger.pub_topic }}</td>
                    <td>{{ trigger.pub_payload }}</td>
                </tr>
                {% endfor %}
            </table>
        </tr>
    </table>
    </form>
    </body>
    </div>
</html>











